#####################
## Folders to Ignore
#####################
.metadata/
.settings/
target/
Servers/

#####################
## Files to Ignore
#####################
.project
.classpath
.springBeans